.housesContentLoader{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.housesContent{
  display: inline;
  justify-content: center;
  align-items: center;
}

.housesBottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
